# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
*.db
*.sqlite3

# Node / Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/

# Environment variables
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.env 
